/**
    Proyecto realizado con fleat
    revisar:.lista-productos li:nth-child(2n+1) {clear: both;}
    Para limpiar float y acomodar de 2 en dos, 
**/

html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem = 10px **/
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}
body {
    font-size: 1.6rem;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e570e7+0,c85ec7+51,a849a3+100 */
    background: #e570e7; /* Old browsers */
    background: -moz-linear-gradient(top, #e570e7 0%, #c85ec7 51%, #a849a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e570e7 0%,#c85ec7 51%,#a849a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e570e7 0%,#c85ec7 51%,#a849a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=0 ); /* IE6-9 */
    background-attachment: fixed;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

header {
    padding: 4rem 0;
    text-align: center;
}
.hero {
    margin-bottom: 4rem;
}
h2 {
    text-align: center;
    text-transform: uppercase;
}
.lista-productos {
    list-style: none;
    /* margin-top: 4rem; */
    padding: 0;
}
.lista-productos li {
    float: left;
    width: 50%;
    padding: 2rem;
    text-align: center;
}
/* 2(0) + 1 */
.lista-productos li:nth-child(2n+1) {
    clear: both;
}

@media (min-width: 768px) {
    .lista-productos li {
        width: 33.3%;
    }
    .lista-productos li:nth-child(2n+1) {
        clear: unset;
    }
    .lista-productos li:nth-child(3n+1) {
        clear: both;
    }
}
.lista-productos li img {
    border: 1rem solid rgba(128, 1, 195, .45);
    transition: border-color .3s ease-in-out;
}
.lista-productos li img:hover {
    border: 1rem solid rgba(128, 1, 195, 1);
}
.lista-productos li p {
    margin: 1rem 0 0 0;
    font-size: 2.8rem;
    font-weight: bold;
}
.lista-productos li p span {
    color: #ffc300;
    font-size: 4rem;
}

.boton {
    background-color: #ffc300;
    color: #8001c3;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 1rem 4rem;
    transition: background-color .3s ease-in-out;
}
.boton {
    background-color: #EBBC00;
}